<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <section class="signup align-content-center">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <!-- Add the site logo here -->
                    <div class="logo-container">
                        <a routerLink="/home">
                            <img src="../../../assets/layout/images/logo-dark.svg" alt="Site Logo" class="site-logo">
                        </a>
                    </div>
                    <h2 class="form-title">Log in to PriceBee</h2>
                    <form class="register-form" id="register-form" [formGroup]="loginForm" (ngSubmit)="handleForm()">
                        <div class="form-group">
                            <label for="email" class="label-icon"><i class="fas fa-envelope"></i></label>
                            <input type="text" name="email" id="email" placeholder="Email address" formControlName="email" />
                        </div>
                        <div class="text-danger mt-2 fade-in" *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
                            <p *ngIf="loginForm.get('email')?.getError('required')" class="text-danger">Email is required</p>
                            <p *ngIf="loginForm.get('email')?.getError('email')" class="text-danger">Email is invalid</p>
                        </div>
                        <div class="form-group mt-4">
                            <div class="input-group">
                                <label for="password" class="label-icon"><i class="fas fa-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" formControlName="password" class="form-control" [type]="show ? 'text' : 'password'" />
                                <div class="input-group-append">
                                    <span class="input-group-text show-password-icon h-100" (click)="show = !show">
                                        <i class="fa" [ngClass]="{'fa-eye-slash': show, 'fa-eye': !show}"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="text-danger mt-2 fade-in" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                            <p *ngIf="loginForm.get('password')?.getError('required')" class="text-danger">Password is required</p>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Login" />
                        </div>
                        <p *ngIf="messageError" class="alert alert-danger mt-2 fade-in text-center">{{ messageError }}</p>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="../../../assets/layout/images/Capture.JPG" alt="Scales image"></figure>
                    <a routerLink="/register" class="signup-image-link">Create new account</a>
                </div>
            </div>
        </div>
    </section>
</div>
